debug.log
AppData/.keep
AppData/Local/.keep
AppData/Local/Packages/.keep
AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/.keep
AppData/Local/Packages/Microsoft.WindowsTerminalPreview_8wekyb3d8bbwe/LocalState/.keep
OneDrive/.keep
OneDrive/Documents/.keep
OneDrive/Documents/PowerShell/.keep
