[user]
  name = "Jeffrey Serio"
  email = "hyperreal64@pm.me"
[url "git@gitlab.com:hyperreal64/"]
  insteadOf = https://gitlab.com/hyperreal64/
[url "git@github.com:hyperreal64/"]
  insteadOf = https://github.com/hyperreal64/
[url "git@bitbucket.org:jserieux/"]
  insteadOf = https://bitbucket.org/jserieux/

# vim: set filetype=gitconfig:
